<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit your content Here...</h1><br>
    <hr>
    <p> 
        Id: <%=post.Id%>
    </p>
      <p>
        USERNAME: <%=post.username%>
    </p>
    
<form action="http://localhost:3000/post/edit/<%=post.Id%>?_method=PATCH">
 <br>
    <input type="text" name="content"  value="<%=post.content%>">

    <br>
    <button>Submit</button>
</form>
   

    <hr>
</body>
</html>